body{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-color: #d3d6d8;
}

.quiz {
    width: 50vw;
    // border: 2px solid green;
    #allAnswers {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    
        li{
            height: 2rem;
            width: 50%;
            margin-block: .5rem;
            border: 2px solid burlywood;
        }

    }
}

.Btn {
    display: flex;
    justify-content: center;
}

.forNext {
    display: none;
}

.startAgain {
    display: none;
}

.endGame {
    display: none;
    width: 50%;
    border: 5px solid rgb(246, 187, 110);
}

.spanEndGame {
    display: block;
}

.search {
    padding-top: .5rem;
    .forSearching {
        margin-block: .8rem;
    }
}

.forSuggestion {
    margin-inline: 5px;
}

// .displayCountry {
//     paddig
// }