body{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quiz {
    width: 50vw;
    // border: 2px solid green;
    #allAnswers {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        li{
            height: 2rem;
            width: 50%;
            margin-block: .5rem;
            border: 2px solid burlywood;
        }

    }
}

.search {
    padding-top: .5rem;
    .forSearching {
        margin-top: .5rem;
    }
}