html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.main_content {
    height: 73rem;
    width: 100rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 2rem;
    border: 10px inset green;
    background-image: url(./images/Afrique-vert.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.allCountry {
    display: flex;
    flex-flow: row wrap;
    margin-block: 1rem;
    border: 2px solid;
}

.countryBtn {
    width: fit-content;
    flex: 25%;
    margin: 0.1rem;
    padding-block: .1rem;
    justify-content: center;
}

.display_country_name {
    width: 250px;
    text-align: center;
}

#forFlag {
    height: 100px;
    border: 2px inset;
    display: none;
}

.nameAndFlag {
    position: relative;
    top: -25%;
    display: flex;
    justify-content: center;
    text-align: center;
}


.display_details {
    display: flex;
    border: 2px inset black;
    padding: 10px;
}

.capital_city, .area, .currency, .country_code, .phone_code {
    width: 200px;
    border: 2px inset black;
    margin: 8px;
    text-align: center;
}
